.fancy{
    background-color: lightblue;
    font-size: 110%;
    border: solid 3px;
    border-color: black;
    width: 450px;
    margin: 10px;
}
.fancyOverskrift{
    font-size: 160%;
    background-color: rgb(123, 171, 234);
    width: 450px;
    border: solid 3px;
    border-color: black;
    margin: 10px;
    text-align: center;
}
.fancyImg{
    background-color: lightblue;
    font-size: 110%;
    border: solid 3px;
    border-color: black;
    width: 450px;
    margin: 10px;
    text-align: center;
}