
.inventory{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 20px;
    column-gap: 8px; 
    row-gap: 8px;
    
    
}
.invSlot{ 
    display: grid;
    border-style: solid; 
    border-color: rgb(255, 255, 255);
    place-items: center;
    height: 100px;
    width: 100px;
    padding: 5px;
}
.lootBox{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(1,1fr); 
}
.lootPack{
   display: grid;
   place-items: center;
}
.leaveButton{
    display: grid;
    place-items: center;
    padding: 50px;
}
body {
    background-color: rgb(56, 56, 56);
}

div {
    color: white;
}