body{
    background-color: rgb(57, 57, 57);
}
div{
    color: rgb(233, 233, 233);
}
h4 {
    margin: 8px;
}
h1 {
    margin: 0px;
}
.material-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    justify-items: center;
}
.sub-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    justify-items: center;
}
.monster-container{
    display: grid;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    background-color: rgb(96, 96, 96);
    height: 90%;
    width: 50%;
    position: absolute;
    justify-items: center;
    font-size: x-large;
}
.close-monster-view{
    margin: 20px;
    margin-bottom: 0px;
    justify-self: start;
    align-self: flex-start;
    font-size: large;
}